.rootcont {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cont {
    max-width: 500px;
    flex-grow: 1;
}

.menuclass {
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statbox {
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: #78909c;
    border-radius: 5px;
    margin-right: 20px;
}

